@import '../../styles/variables.scss';

.ContainerPage {
    display: flex;
    flex-direction: row;
    font-size: 2vw;
    //height: 100vh;
    @media screen and (max-width: $mobileL) {
      flex-direction: column;
      font-size: 6vw;
      justify-content: space-around;
    }

.Link {
  color: $secondary;
}

.ContainerRight {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 2vw;

  .Title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    p {
      font-size: 2vw;
      margin: 0;
      @media screen and (max-width: $mobileL) {
      margin: 0;
      font-size: 6vw;
      }
    }
    //margin-bottom: 5vw;
  }

  .Form {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    .InputContainer {
      display: flex;
      flex-direction: column;
      margin-bottom: 2vw;
      @media screen and (max-width: $mobileL) {
        margin-bottom: 6vw;
      }
      p {
        font-size: 2vw;
        margin: 0;
        @media screen and (max-width: $mobileL) {
        margin: 0;
        font-size: 6vw;
        }
      }
      input {
        padding: 0.8vw 1vw;
        width: 20vw;
        font-size: 1.5vw;
        border-radius: 1vw;
        color: $secondary;
        outline:none;
        border: 0.1vw solid $secondary;
        margin-bottom: 0.5vw;
        @media screen and (max-width: $mobileL) {
          font-size: 5vw;
          padding: 2vw 2vw;
            border-radius: 2vw;
            width: 85vw;
        }
      }

      span {
        color: $error;
        font-size: 1vw;
        text-align: end;
        margin-bottom: 0.5vw;
        @media screen and (max-width: $mobileL) {
          font-size: 4.5vw;
        }
      }

      a {
        font-size: 1.5vw;
        text-align: end;
        @media screen and (max-width: $mobileL) {
          font-size: 5vw;
        }
      }
    }

    .ButtonContainer{
      margin: 1vw;
      display: flex;
      width: 100%;
      justify-content: center;
      button {
        background-color: $secondary;
        font-size: 1.5vw;
        width: 20vw;
        padding: 0.8vw 2vw;
        border-radius: 1vw;
        border: none;
        outline:none;
        color: $white;
        cursor: pointer;
        @media screen and (max-width: $mobileL) {
          font-size: 5vw;
          padding: 2vw 2vw;
            border-radius: 2vw;
            width: 85vw;
        }
      }
    }
    }
}

.LeftContainer {
  display: flex;
  background-color: $backgroud;
  flex-direction: column;
  height: 100vh;
  justify-content: space-between;
  align-self: flex-start;
  padding: 2vw;

  @media screen and (max-width: $mobileL) {
    background-color: $white;
    height: 8vh;
    width: 100vw;
    align-items: center;
    justify-content: space-between;

  }

  .LogoImg {
    width: 36vw;
    @media screen and (max-width: $mobileL) {
      width: 85vw;
    }
  }

  .Img {
    width: 36vw;
    @media screen and (max-width: $mobileL) {
      display: none;
    }
  }
  }
}




