@import '../../styles/variables.scss';

.Loader {
  display: flex;
  width: 100%;
  justify-content: center;
  height: 100%;
  align-items: center;
}

button {
  background-color: transparent;
  cursor: pointer;
}

.EditButton:hover {
  color: $secondary
}

.DeleteButton {
  color: $error
}