@import '../../../styles/variables.scss';

.Container {
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
    border: 1px solid $light;
    border-radius: 6px;
    margin-bottom: 24px;
    padding: 8px;
    display: flex;
    justify-content: space-between;
}

.Child {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 4px;

    > h1 {
        font-size: 1.2rem;
        margin: 0;
    }
}

.Child:nth-child(2) {
    align-items: flex-end;
}


.CostSale {
    font-size: 1.1rem;
    color: $secondary
}

.Buttons {
    display: flex;
    justify-content: space-between;
    gap: 24px;

    > button {
        font-size: 1.3rem;
        margin: 0;
        padding: 0;
    }
}

