@import '../../styles/variables.scss';

.Loader {
  display: flex;
  width: 100%;
  justify-content: center;
  height: 50vh;
  align-items: center;
}

button {
  background-color: transparent;
  cursor: pointer;
}

.EditButton:hover {
  color: $secondary
}

.DeleteButton {
  color: $error
}

.AddPayment {
  display: flex;
  align-items: center;

  > input {
    width: 68px;
    text-align: center;
    background-color: transparent;
    outline: none;
    border: 1px solid $secondary;
    border-radius: 6px;
    margin-right: 6px;
  }

  > input[type~="date"] {
    width: auto;
    height: 24px;
  }
  
}

.Container {
  overflow-x: auto;
  @media screen and (max-width: $mobileL) {
   overflow-x: hidden;
  }
}

.SalesCard {
    display: none;
    @media screen and (max-width: $mobileL) {
      display: flex;
      flex-direction: column;
    }
}

.Table {
  @media screen and (max-width: $mobileL) {
    display: none;
  }
}