@import '../../styles/variables.scss';

.InputsContainer {
  display: flex;
  gap: 18px 16px;
  flex-wrap: wrap;

  @media screen and (max-width: $mobileL) {
    justify-content: center;
    flex-direction: column;
}
}

.ButtonsSaveOrCancelContainer {
  margin-top: 24px;
  display: flex;
  justify-content: flex-end;
  gap: 20px;

  @media screen and (max-width: $mobileL) {
     flex-direction: column;
     align-items: center;

      :nth-child(2) {
          order: -1;
      }
  }
}

// .InputsItem {
//   display: flex;
//   flex-direction: row;
//   gap: 8px 16px;
//   flex-wrap: wrap;

//   @media screen and (max-width: $mobileL) {
//     flex-direction: column;

//   }
// }


