@import '../../styles/variables.scss';


.SalesContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 24px;

  @media screen and (max-width: $tablet) {
    flex-wrap: wrap;
  }
}

.CardContainer {
  margin-top: 30px;
  width: 100%;
}

.Card {
  padding: 12px;
  border-radius: 8px;
}

.ChildCard {
  background-color: $white;
  margin-top: -42px;
  padding: 12px;
  border-radius: 8px;
  border: 1px solid $light-gray;

  > h2 {
    font-size: 1.5rem;
    margin: 0 0 12px 0;
    display: flex;
    justify-content: space-between;
    font-weight: 500;
  }

  > h3 {
    font-size: 2rem;
    margin: 0;
    font-weight: 500;
  }
}
