@import '../../../styles/variables.scss';

.Container {
  .Header {
    background-color: $white;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding: 0.5vw;
    border-bottom: 1px solid $light-gray;

    @media screen and (max-width: $mobileL) {
      padding: 2vw;
    }

    .PageTitle{
      h1 {
        margin-left: -25vw;
        font-size: 2vw;
        font-weight: 800;

        @media screen and (max-width: $mobileL) {
          font-size: 5vw;
          margin: 1vw;
          text-align: center;
        }
      }

    }

    .ButtonOpenMenu {
      display: flex;
      justify-content: flex-end;
      margin-bottom: 0.5vw;

        button {
        background-color: $white;
        color: $main;
        outline:none;
        margin-bottom: 0.1vw;
        cursor: pointer;
      }
      p {
        margin-top: 1vw;
        font-size: 1.5vw;
        margin-right: 1.5vw;

        @media screen and (max-width: $mobileL) {
        margin-top: 2.5vw;
        font-size: 5vw;
      }
      }
    }

    .Text {
      display: flex;
      align-items: center;
      padding-right: 3vw;
      .Avatar {
        background-color: $secondary;
        color: white;
        width: 2.5vw;
        height: 2.5vw;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-right: 12px;
       

        @media screen and (max-width: $mobileL) {
          width: 6.5vw;
          height: 6.5vw;
        }
      }

      p {
        font-size: 1.5vw;
        font-weight: 700;
        @media screen and (max-width: $mobileL) {
        font-size: 5vw;
      }
      }
    }
  }

  .Menu {
    background-color: $white;
    width: 18vw;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index:12;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    height: 100vh;
    overflow: auto;
    border-right: 1px solid $light-gray;

    @media screen and (max-width: $mobileL) {
      width: 100vw;
    }

    .ButtonCloseMenu {
      padding: 1vw;

      @media screen and (max-width: $mobileL) {
         padding: 5vw;
      }

      .LogoImg {
        width: 16vw;
        display: flex;
        justify-content: center;
        @media screen and (max-width: $mobileL) {
          width: 70vw;
        }
      }

      display: flex;
      justify-content: flex-end;

      button {
        background-color: $white;
        color: $main;
        outline:none;
        cursor: pointer;
        display: none;
        @media screen and (max-width: $mobileL) {
          display: flex;
          margin-left: 8vw;
        }
      }


    }

    .MenuItens {
      padding: 1vw;

      .MenuItem {
        display: flex;
        align-items: center;
        margin-bottom: 1.5vw;
        @media screen and (max-width: $mobileL) {
          margin-bottom: 10vw;
        }

        :hover {
          color: $secondary;
        }

        button {
          background-color: $white;
          color: $main;
          outline:none;
          cursor: pointer;
          display: flex;

          @media screen and (max-width: $mobileL) {
            margin-left: 4vw;
            font-size: 6vw;
          }

          p {
            margin: 0;
            font-size: 1.7vw;
            margin-left: 0.5vw;
            align-self: center;
            font-weight: 600;
            @media screen and (max-width: $mobileL) {
              margin-left: 4vw;
              font-size: 6vw;
            }
          }

          .MenuIcon {
            color: $secondary;
          }
        }
      }

    }

  }

  .Divider {
    border-bottom: 2px dashed #af96a2;
    border-radius: 0px 0px 18px 18px;
    margin: 1vw 0vw 1vw 0vw;
  }
}




