@import '../../../styles/variables.scss';

.Container {
    padding: 16px;
    font-size: 1.25rem;
    background-color: $white;
}

.ChildContainer {
    max-width: 	1536px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;

    img {
        width: 100px;
    }
}

.Options {
    display: flex;
    gap: 8px;
}

.Menu {
    display: flex;

    @media screen and (max-width: $tablet) {
        display: none;
    }   
}

.MenuOptions {
    box-shadow: rgba(0, 0, 0, 0.052) 0px 0px 5px 0px, rgba(0, 0, 0, 0.052) 0px 0px 1px 0px;
    background-color: $white;
    position: fixed;
    margin-top: 8px;
    padding: 16px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    font-size: 1.125rem;
    gap: 8px;

  
}

.Link {
    text-align: left;
    color: $secondary;
    border-radius: 6px;
    padding: 6px 16px;
    text-decoration: none;
}

.Link:hover {
    background-color: $hoverSecondary;
}

details {
    summary {
        border-radius: 6px;
        padding: 6px 16px;
        color: $secondary;
        list-style: none;
        cursor: pointer;
    }

    summary:hover {
        background-color: $hoverSecondary;
    }
}

details summary::-webkit-details-marker {
    display:none;
}

.MoreOptionsButton {
    display: none;
    @media screen and (max-width: $tablet) {
        display: block;
        display: flex;
        align-items: center;
        gap: 6px;
        margin-left: 12px;
        font-size: 1rem;
        font-weight: 600;
    }   
}

.HeaderMenuNewUser {
    display: flex;
    gap: 16px;
}

.Login {
    text-align: left;
    color: $secondary;
    border-radius: 6px;
    padding: 6px 16px;
    text-decoration: none;
    background-color: $secondary;
    color: $white;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 6px
}
