$white: #fff;
$black: #3a3a3a;
$gray: #c2c2c2;
$dark-gray: #07002e;
$light-gray: #e8e8e8;
$main: black;
$secondary: #A34672;
$frame-one: #ececed;
$light-blue: #cfe4f8;
$blue: #57a4ff;
$backgroud: #F2F2F2;
$error: #D32F2F;
$sucess: #388E3C;
$light: #f8f7f7
