@import '../../../../src/styles/variables.scss';

.Container {
  button {
    font-size: 1.125rem;
    padding: 8px 16px;
    border-radius: 8px;
    border: 2px solid $secondary;
    outline:none;
    color: $secondary;
    cursor: pointer;
    @media screen and (max-width: $mobileL) {
      width: 100%;
    }
  }
}
