@import '../../../../src/styles/variables.scss';

.Container {
  display: flex;
  flex-direction: column;
  gap: 6px;
  font-size: 1.125rem;

  @media screen and (max-width: $mobileL) {
      width: 100%;

  }

  input, select {
    background-color: transparent;
    border: 1px solid $secondary;
    border-radius: 6px;
    padding: 4px 4px 4px 8px;
    outline: none;
  }

  input {
    width: 260px;
    height: 30px;
  }

  select {
    width: 275px;
    height: 42px;
  }

  @media screen and (max-width: $mobileL) {
    input{
      width: auto;
    }
    select { 
      width: 100%;

    }
  }
}

.ErrorSpan {
  color: $error;
  font-size: 1rem;
}