@import '../../styles/variables.scss';

.Loader {
  display: flex;
  width: 100%;
  justify-content: center;
  height: 50vh;
  align-items: center;
}

button {
  background-color: transparent;
  cursor: pointer;
}

.EditButton:hover {
  color: $secondary
}

.DeleteButton {
  color: $error
}

.SalesCard {
  display: none;
  @media screen and (max-width: $mobileL) {
    display: flex;
    flex-direction: column;
  }
}

.Table {
@media screen and (max-width: $mobileL) {
  display: none;
}
}