@import '../../../../styles/variables.scss';

.Container {
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
    border: 1px solid $light;
    border-radius: 6px;
    margin-bottom: 24px;
    padding: 8px;
    display: flex;
    justify-content: space-between;
    word-break: break-word;
}

.Child {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 4px;

    > h1 {
        font-size: 1.2rem;
        margin: 0;
    }

    > h2 {
        margin: 0;
    }

    > h3 {
        margin: 0;
        font-weight: 500;
        font-size: 0.9rem;
    }

    > span {
        font-size: 0.9rem;
    }
}

.Status {
    display: flex;
    align-items: center;
    gap: 4px;
}

.AddMoreMoney {
    color: $sucess;
}

.Child:nth-child(1) {
    align-items: flex-start;
    > button {
        margin: 0;
        padding: 4px;
        border-radius: 4px;
        display: flex;
        align-items: center;
        gap: 4px;
        color: $secondary;
        border: 1px solid $hoverSecondary;
    }
}

.Child:nth-child(2) {
    align-items: flex-end;
}

.Buttons {
    display: flex;
    justify-content: space-between;

    > button {
        font-size: 1.3rem;
        margin: 0;
        padding: 0;
    }
}

.AddPayment {
    display: flex;
    flex-direction: column;
    gap: 22px;

    > input {
        padding: 8px;
        border: 1px solid $secondary;
        border-radius: 6px;
        outline: none;
    }

}